langchain
langchain-community
langchain-ollama
langchain-openai
langchain-text-splitters
faiss-cpu
streamlit
ollama
pypdf
sentence-transformers
fastapi
uvicorn[standard]
httpx
deep-translator
python-multipart
google-generativeai